body {
    width: 100vw;
    height: 800px;
}
main {
    display: flex;
    justify-content: space-between;
}
.app-container {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.user-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    border: 1px solid brown;
    border-radius: 5px;
}
.user-list .users {
    color: darkslategrey;
    font-family: "Times New Roman";
    cursor: pointer;
}
.user-list .users:hover {
    text-decoration: underline;
}
.todos-parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todos-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    color: darkslategrey;
    font-family: "Times New Roman";
}

input[type=checkbox]:checked + span{
    text-decoration: line-through;
}